.backGround {
  background-color: #2481E7;
}

.navbar-dark {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.logoCenedu {
  width: 65%;
}

.a-logo {
  width: 65%;
}

.hoverDropDown:hover {
  color: #2481E7;
  background-color: #fff;
  border-radius: 20%;
  margin-left: 8%;
  margin-right: 3%;
  padding-left: 5%;
  padding-right: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hoverNavBar:hover {
  color: #2481E7;
  background-color: #fff;
  border-radius: 10%;
  padding-inline: 7%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.hoverLanguages {
  margin-top: 11%;
}
.hoverLanguages:hover {
  color: #2481E7;
  background-color: #fff;
  border-radius: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 1%;
  padding-right: 1%;
}

.whiteDrop {
  color: #fff;
}

.containerRedesSociales {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-top: 6%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 3%;
}

@media (min-width: 768px) {
  .logoCenedu {
    width: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .a-logo {
    width: 29%;
  }
  .widthQueHacemos {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .containerRedesSociales {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    margin-top: 0;
    margin-left: 7%;
    margin-right: 3%;
  }
}
.imgRedondeada {
  width: 70px;
  height: 70px;
}

.blueSpan {
  color: #2481E7;
}

.containerDivsQueHacemos {
  margin-left: 10%;
}

.divONU {
  background-color: #3B516E;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 1px;
  padding-inline: 3%;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.divDatosEstadisticos {
  background-color: #A8CDF5;
}

.spanDatosEstadisticos {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #2481E7;
  margin-left: 24%;
}

.botonDatosEstadisticos {
  width: 98px;
  height: 98px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  color: #2481E7;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.botonDatosEstadisticos:hover {
  cursor: default;
}

.pDatosEstadisticos {
  color: #3B516E;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
}

.divQueHacemos {
  margin-right: 3%;
}

.widthPQueHacemos {
  width: 95%;
}

.widthH4QueHacemos {
  width: 100%;
}

.displayEstadisticas {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
}

.visibilityVideo {
  visibility: hidden;
  display: none;
}

.textCarousel {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 6%;
}

@media (min-width: 768px) {
  .visibilityVideo {
    visibility: visible;
    display: unset;
  }
  .visibilityCarousel {
    visibility: hidden;
    display: none;
  }
  .containerDivsQueHacemos {
    margin-left: 20%;
  }
  .imgRedondeada {
    width: 100px;
    height: 100px;
  }
  .widthPQueHacemos {
    width: 635px;
  }
  .widthH4QueHacemos {
    width: 677px;
  }
  .displayEstadisticas {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }
  .spanDatosEstadisticos {
    margin-left: 5%;
  }
}
footer {
  background-color: #3B516E;
  padding-top: 1%;
}

.pNuestrosProyectos {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  left: 2%;
  bottom: 5%;
}

.divSombra {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3%;
  height: 745px;
  width: 314px;
}

.divSombra2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3%;
  height: 706px;
  width: 314px;
}

.pDivProyectos {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #2481E7;
}

.pDivProyectosBlack {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #3B516E;
}

.pTituloProyectos {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #2481E7;
}

.pTituloProyectos2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #3B516E;
}

.imgDivLaboralMobile {
  width: 140px;
  height: 115px;
  margin-top: 3%;
}

.imgDivLaboralPC {
  visibility: hidden;
  display: none;
}

.tilde1 {
  margin-top: 36%;
}

.tilde2 {
  margin-top: 327%;
}

.tilde2B {
  margin-top: 491%;
}

.gap {
  gap: 3%;
}

.marginPProyectos1 {
  margin-top: 104%;
}

@media (min-width: 768px) {
  .divSombra {
    width: 1127px;
    height: 308px;
    padding: 3%;
  }
  .divSombra2 {
    width: 1127px;
    height: 308px;
    padding: 3%;
  }
  .pTituloProyectos {
    font-size: 24px;
  }
  .pTituloProyectos2 {
    font-size: 20px;
  }
  .imgDivLaboralMobile {
    visibility: hidden;
    display: none;
  }
  .imgDivLaboralPC {
    visibility: visible;
    display: unset;
    width: 163px;
    height: 108.72px;
  }
  .tilde1 {
    margin-top: 8%;
  }
  .tilde2 {
    margin-top: 8%;
  }
  .tilde2B {
    margin-top: 0;
  }
  .pDivProyectos {
    font-size: 20px;
  }
  .pDivProyectosBlack {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3B516E;
  }
  .pDivProyectosBlack2 {
    margin-top: 4%;
  }
  .marginPProyectos1 {
    margin-top: 0;
  }
  .gap {
    gap: 2%;
  }
}
.banner-convocatoria {
  position: relative;
}

.banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-convocatoria-texto {
  position: absolute;
  width: 252px;
  height: 45px;
  left: 15%;
  top: 85%;
  transform: translate(-50%, -50%);
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 45px;
  color: #FFFFFF;
}

.img-convocatoria {
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 5rem;
}

@media (min-width: 0px) and (max-width: 498.98px) {
  .banner-convocatoria-texto {
    left: 45%;
    font-size: 1.4rem;
  }
  .img-convocatoria {
    width: 70%;
    margin-top: 3rem;
  }
}
@media (min-width: 500px) and (max-width: 767.98px) {
  .banner-convocatoria-texto {
    left: 30%;
    font-size: 2rem;
  }
  .img-convocatoria {
    width: 70%;
    margin-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-convocatoria-texto {
    left: 20%;
  }
  .img-convocatoria {
    width: 50%;
    margin-top: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-convocatoria {
    width: 50%;
  }
}
.banner-donantes-text {
  width: 100%;
  height: 45px;
  left: 15%;
  top: 85%;
  transform: translate(-10%, -70%);
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 45px;
  color: #ffffff;
}

.parrafo-donantes {
  background: #3b516e;
}
.parrafo-donantes p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  color: #ffffff;
}
.parrafo-donantes h3 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.flex-colum {
  flex-direction: column;
  margin-left: 4rem;
}

.tilde-donantes {
  width: 29px;
  height: 27px;
  margin-right: 1rem;
}

.img-carousel-donantes {
  width: 124px;
  height: 152px;
}/*# sourceMappingURL=style.css.map */