body {
    font-family: 'Quicksand', sans-serif;
}

.banner-contactanos-text {
    width: 100%;
    height: 45px;
    left: 15%;
    top: 85%;
    transform: translate(-10%, -70%);
  
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 45px;
    color: #ffffff;
}

.img-contacto {
    width: 50px;
    height: 50px;
}

.div-container{
    place-content: center;
    place-items: center;

    div{
        height: 80%;
        display: inline-grid;
    }
}

@media (min-width: 0px) and (max-width: 498.98px){
    .banner-contactanos-text{
        font-size: 1.3rem;
    }

    .img-contacto {
        width: 30px;
        height: 30px;
    }

    .div-container{
        h3{
            font-size: 1rem;
        }
    }
}

@media (min-width: 500px) and (max-width: 767.98px){
    .banner-contactanos-text{
        font-size: 1.4rem;
    }

    .img-contacto {
        width: 35px;
        height: 35px;
    }

    .div-container{
        h3{
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .banner-contactanos-text{
        font-size: 2rem;
    }

    .img-contacto {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){

}