.imgRedondeada{
    width: 70px;
    height: 70px;
}

.blueSpan{
    color: #2481E7 ;
}

.containerDivsQueHacemos{
    margin-left: 10%;
}

.divONU{
    background-color: #3B516E;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 1px;
    padding-inline: 3%;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    
}

.divDatosEstadisticos{
    background-color: #A8CDF5;
    
    
}

.spanDatosEstadisticos{
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
color: #2481E7;
margin-left: 24%;
}

.botonDatosEstadisticos{
    width: 98px;
    height: 98px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color: #2481E7;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    &:hover{
        cursor:default;
    }
}

.pDatosEstadisticos{
    
    color: #3B516E ;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
        
}

.divQueHacemos{
    margin-right: 3%;
}

.widthPQueHacemos{
    width: 95%;
 }

 .widthH4QueHacemos{
    width: 100% ;
 }

 .displayEstadisticas{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
 }

 .visibilityVideo{
    visibility: hidden ;
    display: none;
 }

 .textCarousel{

    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    padding: 6%;
    
    
 }
 
@media(min-width:768px){

    .visibilityVideo{
        visibility: visible ;
        display: unset;
     }

     .visibilityCarousel{
        visibility: hidden ;
        display: none;
     }
    
    .containerDivsQueHacemos{
        margin-left: 20%;
    }

    .imgRedondeada{
        width: 100px;
        height: 100px;
    }  

 .widthPQueHacemos{
    width: 635px;
 }

 .widthH4QueHacemos{
    width: 677px ;
 }

 .displayEstadisticas{
    display: flex;
    flex-direction: row;
    margin-left: 0;
 }

 .spanDatosEstadisticos{
    
    margin-left: 5%;
    }

}